h1{
 text-align: center;
 font-family: 'Exo 2', sans-serif; 
 color: orange;
font-size: 70px;

}
.part1{
    display: flex;
}
p{
    padding-left: 20px;
    color: black;
    background-color: aliceblue;
    padding-right: 20px;
    margin-left: 730px;
    
}
.range{
    margin-bottom: 20px;
    margin-left: 20px;
}
.canvas{
    border: 1px solid black;
  margin-left: 80px;
  background-color: aliceblue;

}
body{
    background-color: black;
}
span{
    color: aliceblue;
}